<div class="row " style="background-color:#f4f8f9;padding-bottom: 200px">
  <div class="col-md-12 col-xl-12 col-lg-12 ">
    <h2 class="font-cp" style="padding:15px">Media Files Manager</h2>
    <div class="row"  style="background-color:#fff;margin-left: 10px;margin-right: 10px;border-radius: 5px;">
      <div class="col-md-12 col-xl-12 col-lg-12" style="margin-top:20px;">
        <p class="font-cp" style="font-size:13px">MANAGE ALL YOUR MEDIA FILES HERE</p>
        <hr style="margin-top:20px;margin-bottom:20px">
      </div>
      <div class="col-md-12 col-xl-12 col-lg-12" >
        <div class="row">
          <div class="col-md-4 col-xl-4 col-lg-4" style="background-color:#f4f8f9;border-radius: 5px;margin-left: 10px;margin-bottom: 10px" >
            <div class="row">
              <div  class="col-md-4 col-xl-4 col-lg-4 text-center p-r-l-0"  >
                <a [routerLink]="['videos']" routerLinkActive="active"  > 
                  <p routerLinkActive="active" class="font-cp"   style="font-size:12px;font-weight: bold;padding:10px 20px 10px 20px;margin: 6px 0px 6px 10px;">VIDEOS</p>
                </a>
              </div>
              <div  class="col-md-4 col-xl-4 col-lg-4 text-center p-r-l-0"  >
                <a [routerLink]="['images']" routerLinkActive="active"  > 
                  <p routerLinkActive="active" class="font-cp"   style="font-size:12px;font-weight: bold;padding:10px 20px 10px 20px;margin: 6px 0px 6px 10px;">IMAGES</p>
                </a>
              </div>
              <div  class="col-md-4 col-xl-4 col-lg-4 text-center p-r-l-0"  >
                <a [routerLink]="['pdf']" routerLinkActive="active"  > 
                  <p  class="font-cp"   style="font-size:12px;font-weight: bold;padding:10px 20px 10px 20px;margin: 6px 10px 6px 10px;">PDF</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-12 col-lg-12 sroll-y-media-screen" >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>
