a.active{
    background-color: #fff;
    outline: none;
}
a.active p{
    background-color: #fff;
    outline: none;
}
a{
    
    outline: none;
    text-decoration: none; 
}
a :hover{
    background-color: #fff;
}
div.sroll-y-media-screen{
    overflow-y: auto;
    height: 380px;
    width: 100%;
}