<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12" style="padding-bottom:50px">
      <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" >
              <div class="card shadow-1 border-1" style="border-radius:6px;width: 220px;">
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 text-center">
                      <img class="cursor" src="../../../../assets/images/uploads.png" alt="" width="50px" height="50px" style="margin-top:40px">
                      <p class="font-cp" style="font-size: 15px;font-weight: 600;">Upload Files</p>
                      <p class="font-cp" style="font-size: 13px;padding-top: 10px;padding-bottom:2px">Drag a file to attach or <a class="cursor" style="color:#5fcdfe">browse</a></p> 
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>