.side-bar-text-style{
    font-size: 14px;
    font-weight: 600;
}
li.active{
    color: #5fcdfe;
    outline: none;
}
li.active h6{
    color: #5fcdfe;
    outline: none;
}
a{
    
    outline: none;
    text-decoration: none; 
}
a :hover{
    color: #5fcdfe;
}