  <div id="sidebar"class="row fix-pos" >
      <div class="col-xl-12 col-lg-12 col-md-12 " style="margin-top:50px" >
          <li routerLinkActive="active" style="list-style: none">
            <a [routerLink]="['/screens']" style="color: #9b9b9d;" >
              <img src="../../../../assets/images/shipwheel.png" alt="" width="50px" height="40px" style="padding-right: 10px;" >
              <h6 class="font-cp side-bar-text-style" style="display:inline-block">MANAGE SCREENS</h6>
            </a>
          </li>
          <li routerLinkActive="active" style="list-style: none;margin-top:50px;">
              <a [routerLink]="['/media']" style="color: #9b9b9d;" >
                <img src="../../../../assets/images/media.png" alt="" width="50px" height="40px" style="padding-right: 10px;" >
                <h6 class="font-cp side-bar-text-style" style="display:inline-block">MEDIA FILES</h6>
              </a>
            </li>
      </div>
  </div>


  