<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 fix-pos">     
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row" style="margin-top:79px">
      <div class="col-xl-2 col-lg-2 col-md-2 "  style="background-color:#fafbfd">         
          <app-sidebar></app-sidebar>
      </div>
      <div class="col-xl-10 col-lg-10 col-md-10 ">         
          <router-outlet></router-outlet>
      </div>
    </div>
</div>
