.chooseShipFont {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 21px;
}
a.active {
  background-color: #f5f7f9;
}
a.active div.c {
  background-color: #f5f7f9;
}
a {
  outline: none;
  text-decoration: none;
}
a :hover {
  background-color: #f5f7f9;
}
.add-media-style {
  color: #4d91e2;
  font-size: 13px;
  display: inline-block;
}


.dropup {
    float: right;
  width: 25px;
  height: 25px;
  transition-delay: 0.2s;
}
div.scroll-y-choose-ship {
  overflow-y: scroll;
  height: 400px;
  width: 100%;
}

.loader {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 45px;
  height: 45px;
  border: solid 4px rgb(241, 229, 229, 0.75);
  border-top: solid 4px rgb(119, 118, 118);
  border-radius: 50%;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.shipNameColor {
  color: black;
}

#shipName.shipNameColor.active {
  color: #fff;
}
.card-header.cursor {
  background-color: #4d91e2;
}

.card-header.cursor.collapsed {
    background-color: rgba(0,0,0,.03);  
}
.card-header.cursor p{
    color: #fff;
}
.card-header.cursor.collapsed p{
    color: #111;
}

.card-header.cursor .dropup{
    background-image: url('../../../../assets/images/up.png');
    
}
.card-header.cursor.collapsed .dropup{
    background-image: url('../../../../assets/images/down.png');
    
}

.card-header.cursor .h-w-ship-icon{
    background-image: url('../../../../assets/images/whiteship.png');
    height: 25px;
    width: 25px;
    
}
.card-header.cursor.collapsed .h-w-ship-icon{
    background-image: url('../../../../assets/images/blackship.png');
    height: 25px;
    width: 25px;
    
}

