
<div class="row " style="background-color:#fff;margin-left: 10px;border-radius: 5px;margin-bottom: 30px">
  <div class="col-xl-12 col-md-12 col-xl-12" style="padding-top:15px;padding-bottom:10px">
    <p class="font-cp" style="font-size:12px">CHOOSE YOUR SHIP</p>
  </div>
  <div class="col-xl-12 col-md-12 col-xl-12" style="text-align: center">
    <a data-toggle="modal" class="cursor" data-target="#exampleModalShip">
      <img src="../../../../assets/images/plus.png" width="20px" height="20px" style="margin-right:10px"/>
      <p class="font-cp add-media-style">ADD NEW SHIP</p>
    </a>
  </div>
  <div class="col-xl-12 col-md-12 col-xl-12" >
    <form >
      <div class="form-group" style="margin-bottom:5px">
        <input type="search" class="form-control" id="search" placeholder="Search Ship Name" style="width:302px">
      </div>
    </form>
  </div>  
  <div class="col-xl-12 col-md-12 col-xl-12 scroll-y-choose-ship" style="margin-bottom:30px">
    <div id="accordion" *ngFor="let ship of ships;let i = index;" style="margin-top:15px">         
        <div id="listMedia" class="card">    
          <div class="card-header cursor collapsed"  (click)="dropToggle(i)"  id="headingOne" data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="false" >
              <div class="row">
                  <div class="col-xl-2 col-md-2 col-xl-2">
                      <div id="shipicon" class="h-w-ship-icon"></div>
                  </div>
                  <div class="col-xl-8 col-md-8 col-xl-8">
                      <p id="shipName" class="font-cp chooseShipFont  " >{{ship.shipName}}</p>
                  </div>
                  <div class="col-xl-2 col-md-2 col-xl-2">
                      <div  id="dropUp"class="dropup"></div>
                  </div>
                </div>
          </div>
          <div id="collapse{{i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" >
            <div id="loading" *ngIf="!mediaScreen "  class="loader"></div>
            <div    
            *ngFor="let screen of mediaScreen">
            <a routerLinkActive="active" [routerLink]="['/screens','manageScreen',ship._id,screen._id]"   class="cursor"  >
              <div class="col-md-12 col-xl-12 col-lg-12 p-20 c"  >
                <img src="../../../../assets/images/tv.png" width="20px" height="20px"/>
                <p class="font-cp chooseShipFont" >{{screen.mediaPlayer}}</p>
              </div>
            </a>
            </div>
            <div class="col-md-12 col-xl-12 col-lg-12" style="text-align:center;padding-bottom: 10px;padding-top: 10px">
                <a data-toggle="modal" class="cursor" data-target="#exampleModalCenter" (click)="addMedia(ship)">
                  <img src="../../../../assets/images/plus.png" width="20px" height="20px" style="margin-right:10px"/>
                  <p class="font-cp add-media-style">ADD NEW MEDIA PLAYER</p>  
                </a>   
            </div>                  
          </div>
        </div>
      </div>
    </div>
</div>



<!-- Modal add media -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-cp" id="exampleModalLongTitle">Ship Name : {{addselectedShip.shipName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-decoration:none">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addName">
        <div class="modal-body">
          <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Media Player Name" [(ngModel)]="newScreen">
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="submit()" [routerLink]="['/screens']" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal add new ship -->
<div class="modal fade" id="exampleModalShip" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-cp" id="exampleModalLongTitle">ADD NEW SHIP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-decoration:none">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="addName">
          <div class="modal-body">
           <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name :</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter Ship Name">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button (click)="submit()" [routerLink]="['/screens']" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
</div>