.card-1{
    border-radius: 4px;
    background-color: #e0e0e0;
    padding: 46px;
    box-shadow: 1px 2px 6px rgba(80, 78, 78, 0.418);
}
.border-1{
       border: 4px solid #ffff;
}
.active ,.border-1:hover{   
    border: 4px solid #5fcdfe;;
}
.pick-start{
    color: white;
    background-color:#50d88e;
}
.pick-end{
    color: white;
    background-color:#ff6460;
}
.pick-file{
    color: white;
    background-color:#5eccfd;
}
.btn-add{
    height: 40px;
    background-color: #ffff;
    border: 1px solid #e0e0e0
}
div.sroll-y-manage-screen{
    overflow-y: auto;
    height: 450px;
    width: 100%;
}



@media (min-width: 576px)
{
.modal-dialog {
    max-width: 1200px!important;
}
}

a.active-2{
    background-color: #fff;
    outline: none;
}
a.active-2 p{
    background-color: #fff;
    outline: none;
}
a{
    
    outline: none;
    text-decoration: none; 
}
a :hover{
    background-color: #fff;
}
div.sroll-y-media-screen{
    overflow-y: auto;
    height: 380px;
    width: 100%;
}
.shadow-2{
    box-shadow: 5px 7px 6px rgba(80, 78, 78, 0.418);
}
.border-2{
    border-style: dashed;
    border-width: 4px;
    border-color: rgba(190, 181, 181, 0.705);
}

.b-none{
    border: none!important;
}

.bg-color{
    background-color: #f4f8f9;
}
.p-l-r-20{
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.active{
    border: none!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none!important;
    
}
.nav-tabs {
    border-bottom: 1px solid #fff;
}
