<div class="row " style="background-color:#fff;margin-left: 0px;margin-right:0px;border-radius: 5px;margin-bottom: 30px">
  <div class="col-xl-12 col-md-12 col-lg-12" style="padding-top:15px;padding-bottom:10px">
    <p class="font-cp" style="font-size:12px">MANAGE YOUR MEDIA PLAY SCREEN HERE</p>
    <hr>
  </div>
  <div class="sroll-y-manage-screen" style="margin-bottom:43px">
  <div class="col-xl-12 col-md-12 col-lg-12 " style="padding-bottom:10px">
    <div class="row">
      <div class="col-xl-4 col-md-4 col-xl-4">
        <div class="row" style="margin:4px">
          <div class="col-xl-12 col-md-12 col-lg-12 text-center">
            <p class="font-cp" style="font-size:17px;margin-bottom: 0px;color: #000;">SCREEN <b>1</b></p>
            <p class="font-cp" style="font-size:11px">IMAGE SCREEN</p>
          </div>
          <div class="col-xl-12 col-md-12 col-lg-12 text-center card-1 border-1 active" >
              <img width="50px" height="50px" src="../../../../assets/images/images.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-xl-4">
          <div class="row" style="margin:4px">
            <div class="col-xl-12 col-md-12 col-lg-12 text-center">
              <p class="font-cp" style="font-size:17px;margin-bottom: 0px;color: #000;">SCREEN <b>2</b></p>
              <p class="font-cp" style="font-size:11px">VIDEO SCREEN</p>
            </div>
            <div class="col-xl-12 col-md-12 col-lg-12 text-center card-1 border-1" >
                <img width="50px" height="50px" src="../../../../assets/images/videos.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 col-xl-4">
            <div class="row" style="margin:4px">
              <div class="col-xl-12 col-md-12 col-lg-12 text-center">
                <p class="font-cp" style="font-size:17px;margin-bottom: 0px;color: #000;">SCREEN <b>3</b></p>
                <p class="font-cp" style="font-size:11px">PDF SCREEN</p>
              </div>
              <div class="col-xl-12 col-md-12 col-lg-12 text-center card-1 border-1" >
                  <img width="50px" height="50px" src="../../../../assets/images/pdf.png" alt="">
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="col-xl-12 col-md-12 col-lg-12" style="padding-top:15px;padding-bottom:10px">
      <p class="font-cp" style="font-size:17px;margin-bottom: 0px;color: #000;font-weight: bold;">SCHEDULE</p>
      <p class="font-cp" style="font-size:13px">Schedule this screen content flow</p>
  </div>
  <div class="col-xl-12 col-md-12 col-lg-12" style="padding-bottom:10px"  *ngFor="let item of numbers; let i = index">
    <div class="row">
      <div class="col-xl-1 col-md-1 col-xl-1 text-center">
          <p class="font-cp" style="font-size:28px;margin-bottom: 0px;color: #000;font-weight: bold;">{{i+1}}</p>
      </div>
      <div class="col-xl-4 col-md-4 col-xl-4" style="padding-right:0px">
          <button type="button" style="height:40px" class="btn  pick-start text-center">
              <img src="../../../../assets/images/timeAndDate.png" style="display:inline-block;margin-right: 5px" width="20px" height="20px"  />
              <p class="font-cp " style="font-size:11px;display:inline-block;">PICK START DATE/TIME</p>
          </button>
      </div>
      <div class="col-xl-3 col-md-3 col-xl-3" style="padding-right:0px;margin-left: -45px">
          <button type="button" style="height:40px" class="btn  pick-end text-center">
              <img src="../../../../assets/images/timeAndDate.png" style="display:inline-block;margin-right: 5px" width="20px" height="20px"  />
              <p class="font-cp " style="font-size:11px;display:inline-block;">PICK END DATE/TIME</p>
          </button>
      </div>
      <div class="col-xl-3 col-md-3 col-xl-3" style="padding-right:0px">
          <button type="button" style="height:40px;width: 100%;" data-toggle="modal" data-target="#pickFile" class="btn ">
              <img src="../../../../assets/images/file.png"  style="display:inline-block;margin-top: 3px;float: left;" width="20px" height="20px"  />
              <p class="font-cp text-center" style="font-size:11px;display:inline-block;">PICK FILE</p>
          </button>
      </div>
      <div class="col-xl-1 col-md-1 col-xl-1 cursor" (click)="minus()">
          <img src="../../../../assets/images/close.png" style="margin:5px" width="30px" height="30px"  />         
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-md-12 col-lg-12" style="padding-top:15px;padding-bottom:50px">
    <div class="row">
      <div class="col-md-2 offset-md-1 col-xl-2 offset-xl-1 col-lg-2 offset-lg-1">
        <button type="button" class="btn btn-add " (click)="add()" >
          <img src="../../../../assets/images/plus.png" class="ib" width="15px" height="15px" style="margin-right:10px"/>
          <p class="font-cp add-media-style ib"style="font-size:13px">ADD</p>
        </button>
      </div>
    </div>
</div>
</div>
</div>


<!-- Modal to pick file -->
<div class="modal fade" id="pickFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="container modal-dialog " style="margin-top:70px" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-cp" id="exampleModalLongTitle">CHOOSE MEDIA FILES</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row ">
            <div class="col-md-5" style="margin-left:30px">
              <ul class="nav nav-tabs bg-color" >
                <li class="nav-item " style="padding-left:16px;padding-right:20px">
                  <a class="nav-link active font-cp" style="font-size:12px;font-weight: bold;padding:10px 35px 10px 35px;margin: 6px 0px 6px 10px;" data-toggle="tab" href="#videos">Videos</a>
                </li>
                <li class="nav-item p-l-r-20">
                  <a class="nav-link font-cp" style="font-size:12px;font-weight: bold;padding:10px 35px 10px 35px;margin: 6px 0px 6px 10px;"  data-toggle="tab" href="#images">Images</a>
                </li>
                <li class="nav-item" style="padding-left:20px">
                  <a class="nav-link font-cp" style="font-size:12px;font-weight: bold;padding:10px 35px 10px 35px;margin: 6px 0px 6px 10px;" data-toggle="tab" href="#pdf">PDF</a>
                </li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="tab-content">
                <div id="videos" class="container tab-pane active b-none"><br>
                  <div class="col-md-12 col-lg-12 col-xl-12" style="padding-bottom:50px">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" *ngFor="let details of shipMediaDetails.videos" >
                            <div class="card shadow-2" style="border-radius:6px;width:220px">
                              <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                  <img src={{details.thumbnail}} alt="" width="220px" height="120px" style="border-radius:6px">
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                  <p class="font-cp" style="font-weight:600;font-size: 14px;padding-left: 15px;padding-top: 3px;margin-bottom: 0px">{{details.name}}</p>
                                  <p class="font-cp" style="font-size: 14px;padding-left: 15px">{{details.desc}}</p>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" >
                            <div class="card shadow-2 border-2" style="border-radius:6px;width: 220px;">
                                <div class="row">
                                  <div class="col-md-12 col-lg-12 col-xl-12 text-center">
                                    <img class="cursor" src="../../../../assets/images/uploads.png" alt="" width="50px" height="50px" style="margin-top:40px">
                                    <p class="font-cp" style="font-size: 15px;font-weight: 600;">Upload Files</p>
                                    <p class="font-cp" style="font-size: 13px;padding-top: 10px;padding-bottom:2px">Drag a file to attach or <a class="cursor" style="color:#5fcdfe">browse</a></p> 
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>  
                </div>
                <div id="images" class="container tab-pane b-none"><br>
                  <div class="col-md-12 col-lg-12 col-xl-12" style="padding-bottom:50px">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" *ngFor="let details of shipMediaDetails.images"  >
                            <div class="card shadow-2" style="border-radius:6px;width:220px">
                              <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                  <img src={{details.thumbnail}} alt="" width="220px" height="120px" style="border-radius:6px">
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                  <p class="font-cp" style="font-weight:600;font-size: 14px;padding-left: 15px;padding-top: 5px;margin-bottom: 0px">{{details.name}}</p>
                                  <p class="font-cp" style="font-size: 14px;padding-left: 15px">{{details.desc}}</p>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" >
                            <div class="card shadow-2 border-2" style="border-radius:6px;width: 220px;">
                                <div class="row">
                                  <div class="col-md-12 col-lg-12 col-xl-12 text-center">
                                    <img class="cursor" src="../../../../assets/images/uploads.png" alt="" width="50px" height="50px" style="margin-top:40px">
                                    <p class="font-cp" style="font-size: 15px;font-weight: 600;">Upload Files</p>
                                    <p class="font-cp" style="font-size: 13px;padding-top: 10px;padding-bottom:2px">Drag a file to attach or <a class="cursor" style="color:#5fcdfe">browse</a></p> 
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>  
                </div>
                <div id="pdf" class="container tab-pane b-none"><br>
                  <div class="col-md-12 col-lg-12 col-xl-12" style="padding-bottom:50px">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" >
                            <div class="card shadow-1 border-2" style="border-radius:6px;width: 220px;">
                                <div class="row">
                                  <div class="col-md-12 col-lg-12 col-xl-12 text-center">
                                    <img class="cursor" src="../../../../assets/images/uploads.png" alt="" width="50px" height="50px" style="margin-top:40px">
                                    <p class="font-cp" style="font-size: 15px;font-weight: 600;">Upload Files</p>
                                    <p class="font-cp" style="font-size: 13px;padding-top: 10px;padding-bottom:2px">Drag a file to attach or <a class="cursor" style="color:#5fcdfe">browse</a></p> 
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary font-cp">Submit</button>
        </div>
      </div>
    </div>
  </div>