<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12" style="padding-bottom:50px">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" *ngFor="let details of shipMediaDetails.videos" >
            <div class="card shadow-1" style="border-radius:6px;width:220px">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                  <img src={{details.thumbnail}} alt="" width="220px" height="120px" style="border-radius:6px">
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                  <p class="font-cp" style="font-weight:600;font-size: 14px;padding-left: 15px;padding-top: 3px;margin-bottom: 0px">{{details.name}}</p>
                  <p class="font-cp" style="font-size: 14px;padding-left: 15px">{{details.desc}}</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3" style="margin-top:20px" >
            <div class="card shadow-1 border-1" style="border-radius:6px;width: 220px;">
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-xl-12 text-center">
                    <img class="cursor" src="../../../../assets/images/uploads.png" alt="" width="50px" height="50px" style="margin-top:40px">
                    <p class="font-cp" style="font-size: 15px;font-weight: 600;">Upload Files</p>
                    <p class="font-cp" style="font-size: 13px;padding-top: 10px;padding-bottom:2px">Drag a file to attach or <a class="cursor" style="color:#5fcdfe">browse</a></p> 
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>