<div class="row " style="background-color:#f4f8f9;padding-bottom: 200px">
  <div class="col-md-12 col-xl-12 col-12 ">
    <h2 class="font-cp" style="padding:15px">Ship Screen Manager</h2>
<div class="row">
  <div class="col-md-4 col-xl-4 col-4"><app-choose-ship></app-choose-ship></div>
  <div class="col-md-8 col-xl-8 col-8"><router-outlet></router-outlet></div>
</div>
</div>
