/* You can add global styles to this file, and also import other style files */
.font-cp{
    font-family: 'Rajdhani', sans-serif;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-30{
        margin-top: 30px;
    }
    .p-20{
        padding: 20px;
    }
    .cursor{
        cursor: pointer;
    }
    .text-center{
        text-align: center;
    }
    .ib{
        display: inline-block;
    }
    .fix-pos{
        position: fixed!important;
    z-index: 10;
}
.p-r-l-0{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

div.sroll-y-media-screen{
    overflow-y: auto;
    height: 380px;
    width: 100%;
}
